body {
  --strong: hsl(172, 67%, 45%);
  --veryDark: hsl(183, 100%, 15%);
  --darkCyan: hsl(186, 14%, 43%);
  --darkCyan2: hsl(184, 14%, 56%);
  --lightCyan: hsl(185, 41%, 84%);
  --lightCyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  text-align: center;
  background-color: var(--lightCyan);
  font-family: "Space Mono";
  color: var(--veryDark)
}

input, select, textarea, button{font-family:inherit;}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em auto;
  max-width: 750px;
  background-color: var(--white);
  padding: 1em;
  border-radius: 1em;
  font-weight: 700;
  font-size: .8em;
}


form {
  min-width: 325px;
  text-align: left;
}

form > input[type="number"]{
  display: block;
  width: 100%;
  font-size: 24px;
  text-align: right;
  font-weight: 700;
  color: var(--veryDark);
  background-color: var(--lightCyan2);
  border-radius: .25em;
  border: none;
}

.radio {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}

.radio-btn {
  background-color: hsl(183, 100%, 15%);
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border: 0 none;
  border-radius: 4px;
  padding: .4em;
}

.radio-btn.selected, .radio-btn:hover {
  color: var(--veryDark);
  background-color: var(--strong);
}

.calculator > * {
  margin: 0 auto;
}

.results {
  min-width: 325px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 1em;
  padding: 2em;
  min-height: 300px;
}

.result {
  text-align: left;
  padding: 1em 1em 0 1em;
  display: flex;
  justify-content: space-between;
}

.result p {
  margin: 0 0 .5em 0
}

.result-label p:first-child {
  color: hsl(189, 41%, 97%);
}

.result-label p:nth-child(2) {
  color: hsl(185, 41%, 84%)
}
.result>p:nth-child(2) {
  color: hsl(172, 67%, 45%);
  font-size: 2.5em;
  font-weight: 700;
}

.alert {
  color: rgb(255, 157, 0);
  float: right;
}
