body {
  --strong: hsl(172, 67%, 45%);
  --veryDark: hsl(183, 100%, 15%);
  --darkCyan: hsl(186, 14%, 43%);
  --darkCyan2: hsl(184, 14%, 56%);
  --lightCyan: hsl(185, 41%, 84%);
  --lightCyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --alert: rgb(255, 157, 0);
  text-align: center;
  background-color: var(--lightCyan);
  font-family: "Space Mono";
  color: var(--veryDark)
}

input{
  background:none;
  outline:none;
  border: none;
}

input:focus{
  border:none;
}

input, select, textarea, button{font-family:inherit;}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em auto;
  max-width: 750px;
  background-color: var(--white);
  padding: 1em;
  border-radius: 1em;
  font-weight: 700;
  font-size: .8em;
}

form {
  min-width: 325px;
  max-width: 45%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-container {
  margin: 1em 0;
}

.number-input {
  margin-top: .5em;
  width: 100%;
  border-radius: .25em;
  border: solid var(--lightCyan2) 2px;
  color: var(--veryDark);
  background-color: var(--lightCyan2);
}


.number-input input {
  font-size: 24px;
  width: 85%;
  text-align: right;
  font-weight: 700;
  -moz-appearance: textfield;
}

.number-input:focus-within {
  border: solid var(--strong) 2px;
}


.number-input.error {
  border: 2px solid var(--alert)
}

.radio {
  margin-top: .5em;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.radio-btn {
  width: 100px;
  background-color: var(--veryDark);
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: var(--white);
  border: 2px solid var(--veryDark);
  border-radius: 4px;
  padding: 8px;
}

#custom-tip {
  background-color: var(--lightCyan2);
  border-radius: 4px;
  border: 2px solid;
}

input[type="button"]#custom-tip {
  color: var(--veryDark);
  border-color: var(--lightCyan2);
}

input[type="number"]#custom-tip {
  width: 80px;
  text-align: right;
  padding: 8px;
  font-size: 16px;
  color: var(--veryDark);
  border-color: var(--lightCyan2);
}

input[type="number"]#custom-tip.selected {
  border: 2px solid var(--strong);
}

.radio-btn.selected, .radio-btn:hover, .radio-btn.selected:focus {
  color: var(--veryDark);
  background-color: var(--strong);
  border-color: var(--strong);
}

.calculator > * {
  margin: 0 auto;
}

.results {
  position: relative;
  min-width: 325px;
  background-color: var(--veryDark);
  border-radius: 1em;
  padding: 2em;
}

.result {
  text-align: left;
  padding: 1em 1em 0 1em;
  display: flex;
  justify-content: space-between;
}

.result p {
  margin: 0 0 .5em 0
}

.result-label p:first-child {
  color: var(--lightCyan2);
}

.result-label p:nth-child(2) {
  color: var(--darkCyan2)
}
.result>p:nth-child(2) {
  color: var(--strong);
  font-size: 2.5em;
  font-weight: 700;
}

#reset {
  position: absolute;
  bottom: 2em;
  width: 80%;
  left: 10%;
  border-radius: 4px;
  background-color: var(--strong);
  border: 0;
  padding: 8px;
}

.alert {
  color: var(--alert);
  float: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus, input:focus{
  outline: none;
}

.icon {
  padding: 20px 10% 10px 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.person-icon{
  background-image: url("../images/icon-person.svg")
}

.dollar-icon{
  background-image: url("../images/icon-dollar.svg")
}
